doctype html
html(lang='en')
  head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title ditCraft
    // plugins:css
    link(rel='stylesheet', href='../../vendors/iconfonts/mdi/css/materialdesignicons.min.css')
    link(rel='stylesheet', href='../../vendors/css/vendor.bundle.base.css')
    link(rel='stylesheet', href='../../vendors/css/vendor.bundle.addons.css')
    // endinject
    // inject:css
    link(rel='stylesheet', href='../../css/style.css')
    // endinject
    link(rel='shortcut icon', href='../../images/favicon.png')
  body
    .container-scroller
      .container-fluid.page-body-wrapper.full-page-wrapper.auth-page
        .content-wrapper.d-flex.align-items-center.text-center.error-page.bg-primary
          .row.flex-grow
            .col-lg-7.mx-auto.text-white
              .row.align-items-center.d-flex.flex-row
                .col-lg-6.text-lg-right.pr-lg-4
                  h1.display-1.mb-0 404
                .col-lg-6.error-page-divider.text-lg-left.pl-lg-4
                  h2 SORRY!
                  h3.font-weight-light The address you’re looking for was not found.
              .row.mt-5
                .col-12.text-center.mt-xl-2
                  a.text-white.font-weight-medium(href='/') Back to home
              .row.mt-5
                .col-12.mt-xl-2
                  p.text-white.font-weight-medium.text-center Copyright © 2019 All rights reserved.
        // content-wrapper ends
        // page-body-wrapper ends
        // container-scroller
        // plugins:js
        script(src='../../vendors/js/vendor.bundle.base.js')
        script(src='../../vendors/js/vendor.bundle.addons.js')
        // endinject
        // inject:js
        script(src='../../js/off-canvas.js')
        script(src='../../js/misc.js')
        // endinject
