doctype html
html(lang='en')
  head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title ditCraft
    // plugins:css
    link(rel='stylesheet', href='../../vendors/iconfonts/mdi/css/materialdesignicons.min.css')
    link(rel='stylesheet', href='../../vendors/css/vendor.bundle.base.css')
    link(rel='stylesheet', href='../../vendors/css/vendor.bundle.addons.css')
    // endinject
    // plugin css for this page
    // End plugin css for this page
    // inject:css
    link(rel='stylesheet', href='../../css/style.css')
    // endinject
    link(rel='shortcut icon', href='../../images/favicon.png')
  body
    .container-scroller
      // partial:../../partials/_navbar.html
      nav.navbar.default-layout.col-lg-12.col-12.p-0.fixed-top.d-flex.flex-row
        .text-center.navbar-brand-wrapper.d-flex.align-items-top.justify-content-center
          //a(href='/')
            span ditCraft
          a(href='/')
            img.top-logo.rounded-circle(src='/images/logo.png', alt='logo')
          //a.navbar-brand.brand-logo-mini(href='../../index.html')
            img(src='../../images/logo-mini.svg', alt='logo')
        .navbar-menu-wrapper.d-flex.align-items-center
          ul.navbar-nav.navbar-nav-left.header-links.d-none.d-md-flex
            li.nav-item
              a.nav-link(href='https://ditcraft.io')
                i.mdi.mdi-link
                | ditcraft.io
            li.nav-item.active
              a.nav-link(href='https://twitter.com/ditcraft')
                i.mdi.mdi-twitter
                | @ditcraft
            li.nav-item
              a.nav-link(href='https://github.com/ditcraft')
                i.mdi.mdi-git
                | Repository
                span.badge.badge-primary.ml-1 New
          ul.navbar-nav.navbar-nav-right
            li.nav-item.d-none.d-xl-inline-block
              .input-group
                input#searchText.form-control(type='text', placeholder='Search address...', aria-label='Search address...', aria-describedby='colored-addon3')
                #searchButton.input-group-append.bg-primary.border-primary
                  span.input-group-text.bg-transparent
                    i.mdi.mdi-magnify.text-white
            li.nav-item
                button.btn.btn-light.btn-block
                  i.mdi.mdi-lock
                  | Login
          button.navbar-toggler.navbar-toggler-right.d-lg-none.align-self-center(type='button', data-toggle='offcanvas')
            span.mdi.mdi-menu
      // partial
      .container-fluid.page-body-wrapper
        // partial:../../partials/_sidebar.html
        nav#sidebar.sidebar.sidebar-offcanvas
          ul.nav
            li.nav-item
              a.nav-link(data-toggle='collapse', href='#discover', aria-expanded='false', aria-controls='ui-basic')
                i.menu-icon.mdi.mdi-compass
                span.menu-title Discover
                i.menu-arrow
              #discover.collapse
                ul.nav.flex-column.sub-menu
                  li.nav-item
                    a.nav-link(href='/discover/projects')
                      i.menu-icon.mdi.mdi-folder
                      span.menu-title Projects    
                  li.nav-item
                    a.nav-link(href='/discover/contributors')
                      i.menu-icon.mdi.mdi-account-multiple
                      span.menu-title Contributors
            li.nav-item
              a.nav-link(href='/proposals')
                i.menu-icon.mdi.mdi-file-document
                span.menu-title Proposals
            li.nav-item
              a.nav-link(href='/labels')
                i.menu-icon.mdi.mdi-tag
                span.menu-title Labels
        // partial
        .main-panel
          .content-wrapper
            block content
          // content-wrapper ends
          // partial:../../partials/_footer.html
          footer.footer
            .container-fluid.clearfix
              span.text-muted.d-block.text-center.text-sm-left.d-sm-inline-block
                | Copyright © 2019 &#32;
                a(href='https://ditcraft.io', target='_blank') ditCraft
                | . All rights reserved.
              span.float-none.float-sm-right.d-block.mt-1.mt-sm-0.text-center
                a(href='https://ditcraft.io', target='_blank') Imprint
          // partial
          // main-panel ends
          // page-body-wrapper ends
          // container-scroller
          // plugins:js
          script(src='../../vendors/js/vendor.bundle.base.js')
          script(src='../../vendors/js/vendor.bundle.addons.js')
          // endinject
          // Plugin js for this page
          // End plugin js for this page
          // inject:js
          script(src='../../js/off-canvas.js')
          script(src='../../js/misc.js')
          script.
            $('#searchText').keypress(function(event){
              var keycode = (event.keyCode ? event.keyCode : event.which);
              if(keycode == '13'){
                window.location.href = '/address/' + $('#searchText').val();
              }
            });

            $('#searchButton').on('click',function(){
              window.location.href = '/address/' + $('#searchText').val();
            });
          // endinject
          // Custom js for this page
          // End custom js for this page