extends layout

block content
  .container
    .row
      .col-12.grid-margin.stretch-card
        .card
          .card-body
            h4.card-title Create new repository
            p.card-description
              | Please choose a name for your repository:
            .form-group
              .input-group
                .input-group-prepend.bg-info
                  span.input-group-text.bg-primary
                    i.mdi.mdi-folder.text-white
                input.form-control#projectName(type='text', placeholder='', aria-label='Repository name')
    .row
      .col-xl-4.col-lg-4.col-md-4.col-sm-6.grid-margin.stretch-card(style="cursor: pointer;", onclick="createGithub()")
        .card
          .card-body
            .text-center
              i.mdi.mdi-github-box.text-primary.icon-lg
              p.mt-3.mb-0 GitHub
      .col-xl-4.col-lg-4.col-md-4.col-sm-6.grid-margin.stretch-card(style="cursor: pointer;", onclick="createGitlab()")
        .card
          .card-body
            .text-center
              i.mdi.mdi-git.text-primary.icon-lg
              p.mt-3.mb-0 Gitlab
      .col-xl-4.col-lg-4.col-md-4.col-sm-6.grid-margin.stretch-card(style="cursor: pointer;", onclick="createBitbucket()")
        .card
          .card-body
            .text-center
              i.mdi.mdi-bitbucket.text-primary.icon-lg
              p.mt-3.mb-0 Bitbucket
  script.
    function createGithub(){
      if($('#projectName').val()){
        location.href = "/repositories/new/github/" + $('#projectName').val();
      }
    }
    function createGitlab(){
      if($('#projectName').val()){
        location.href = "/repositories/new/gitlab/" + $('#projectName').val();
      }
    }
    function createBitbucket(){
      if($('#projectName').val()){
        location.href = "/repositories/new/bitbucket/" + $('#projectName').val();
      }
    }