extends layout

block content
  if(proposals.length)
  .row
    .col-12.grid-margin
      .card
        .card-body
          h1.mb-4 Proposals
            .badge.badge-pill.badge-secondary.ml-1 #{proposals.length}
          .fluid-container
            include ./comp-proposals.pug